/*resets browser defaults*/
* {
    margin: 0;  /* resets all margins to 0, and accept custom CSS declarations if any*/
    padding: 2px;
    box-sizing: border-box; /* resets  default box model where box dimensions are affected by border thickness and padding.; forces boxes to be exact sizes in css declarations*/
    font-family: Arial, Helvetica, sans-serif;
}

/*Styles the nav section*/
nav {
    text-align: center;
    background-color: #ee7752;
    margin-bottom: 20px;
    width: 100%;
}

/*Styles the list in nav*/
nav li {
    list-style-type: none;  /*Removes the bullets;navigation bar does not need list markers*/
    display: inline-block;
    margin: 15px 20px;
    padding: 4px;
    border: 1px sold grey;
}

/*Styles Header tag to be centered*/
header {
    text-align: center;
}

/*Styles the main image of Chris Do*/
.heroimage {
    display: block;
    border-radius: 75px;
    margin: 50px auto 10px;
    background-color: rgb(201, 199, 199);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Styles the figure html tag*/
figure {
    margin-bottom: 70px;
    padding: 10px;
}

/*Styles aside section*/
aside {
    margin-bottom: 45px;
    max-width: 70%;
}

/*Styles the footer*/
footer {
    background-color: rgba(209, 209, 209, 0.459);
    font-size: 12px;
    width: 100%;
    padding: 20px;
     text-align: center;
}


/* mouse over link */

a:hover {
    color: rgba(221, 220, 218, 0.836);
}


/* unvisited link */

a:link {
    color: rgb(235, 235, 235);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: 60px;
    margin-bottom: 120px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


}

/* Background Color Animation*/
html,
body {
    width: 100%;
    height: 100%;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}
